.about {
  padding: 0 30px;
  padding-bottom: 30px;
  margin-top: 27px;
  border-bottom: 2px solid #f1f1f1;
  color: #000000;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0;
  margin-top: 25px;
}

.about__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about__item {
  min-height: 100px;
  //position: relative;
  display: flex;
  flex-direction: column;
}

.about__link {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 24px;
}

.about__svg {
  //position: absolute;
  //top: 10px;
  width: 40px;
  margin-top: 10px;
  //height: 40px;
  //background-color: #fffccc;
  text-align: center;
}

.about__text {
  margin: 0;
  margin-top: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.about__name {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.about__span {
  font-weight: 400;
  color: #444444;
}

.about__table {
  margin-top: 33px;
  list-style-type: none;
  padding-left: 0;
}

.about__td {
  border: 1px solid #ececec;
}

.about__prev-button,
.about__next-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
}

.about__arrow {
  vertical-align: middle;
}

.about__to-write {
  margin-top: 40px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  width: 100%;
  text-align: center;
  padding: 14px 0;
}

@media (min-width: 768px) {
  .about {
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 450px;
    background-position: 0 640px;
    padding: 0 50px;
  }

  .about__link {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .about-comments {
    position: relative;
    min-height: 520px;
    margin-top: 65px;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .about__item {
    width: 333px;
    margin-top: 8px;
    margin-bottom: 18px;
  }

  .about__text {
    font-size: 17px;
    margin-top: 50px;
  }

  .about__item--eco-order {
    order: 0;
  }

  .about__item--scandinavian-order {
    order: 2;
  }

  .about__item--more-like-order {
    order: 4;
  }

  .about__item--handmade-order {
    order: 1;
  }

  .about__item--local-order {
    order: 3;
  }

  .about__item--present-order {
    order: 5;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 50px;
    display: inline-block;
  }

  .about__td {
    border: none;
  }

  .about__name {
    display: inline-block;
    margin-top: 55px;
  }

  .about__table {
    float: right;
    margin-top: 60px;
  }

  .about__to-write {
    margin-top: 50px;
    width: 170px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .about__prev-button,
  .about__next-button {
    padding: 10px 20px;
  }
}

@media (min-width: 1250px) {
  .about {
    padding: 0 100px;
    background-position: 100px 655px;
    margin-top: 32px;
  }

  .about__list {
    margin-left: 180px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
  }

  .about__text {
    width: 780px;
    margin-left: 175px;
  }

  .about__name {
    margin-top: 35px;
    margin-left: 175px;
  }

  .about__table {
    margin-top: 44px;
  }

}
