.catalog {
  width: 260px;
  margin: 0 auto;
  padding-top: 31px;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  border: 1px solid #ececec;
  padding-bottom: 4px;
  min-height: 374px;
  box-sizing: border-box;
}

.catalog__item--mobile {
  margin-top: 30px;
}


.catalog__image {
  max-width: 100%;
  height: auto;
}

.catalog-wrapper {
  width: 260px;
  min-height: 179px;
  margin: 0 auto;
  padding: 0 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.catalog__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.4px;
  box-sizing: border-box;
}

.catalog__description {
  margin: 0;
  padding-top: 5px;
  width: 100%;
  font-size: 13px;
  line-height: 30px;
  color: #828282;
  //border-bottom: 1px solid #ececec;
}

.catalog__price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.catalog__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__films {
  //min-height: 503px;
  margin-top: 36px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 14px;
}

.catalog__film-picture {
  position: relative;
  display: flex;
  align-items: stretch;
}

.catalog__movie-play {
  position: absolute;
  top: 19%;
  left: 30%;
  width: 100px;
  height: 76px;
}

.catalog__text {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.catalog__to-order {
  margin: 0 auto;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  width: 190px;
  text-align: center;
  padding: 14px 0;
}

.catalog__film-svg-title {
  display: flex;
  flex-direction: row;
  width: 260px;
  align-items: center;

  &--order {
    order: -1;
  }
}

.catalog__title--film {
  width: 170px;
  padding-top: 9px;
  padding-left: 23px;
}

@media (min-width: 768px) {
  .catalog {
    width: 670px;
    margin: 0 auto;
    margin-top: 35px;
    padding-bottom: 95px;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
  }

  .catalog__description {
    padding-left: 3px;
    letter-spacing: 0.8px;
  }

  .catalog__films {
    align-items: center;
    margin-top: 47px;
  }

  .catalog__price {
    font-size: 17px;
    line-height: 24px;
    position: bottom;
  }

  .catalog__price-wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cfcfcf;
  }

  .catalog__item {
    min-height: 334px;
    display: flex;
    margin-top: 52px;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .catalog__picture {
    display: flex;
    align-items: stretch;
  }

  .catalog__film-image {
    width: 668px;
    height: auto;
  }

  .catalog-wrapper {
    margin: 0;
    width: 315px;
    justify-content: space-between;
  }

  .catalog__title--film {
    width: 669px;
    padding: 0;
    padding-left: 35px;
    letter-spacing: 0.2px;
  }

  .catalog__item--hare {
    margin-top: 19px;
  }

  .catalog__image {
    width: 334px;
    margin: 0;
  }

  .catalog__film-svg-title {
    width: 584px;
    order: 0;
    padding-top: 34px;
  }

  .catalog__text {
    font-size: 15px;
    line-height: 27px;
    padding-top: 30px;
  }

  .catalog__text--film {
    width: 584px;
    padding: 0;
    padding-top: 31px;
    letter-spacing: 0;
  }

  .catalog__movie-play {
    top: 41%;
    left: 42%;
  }

  .catalog__to-order {
    width: 582px;
    margin: 0 auto;
    margin-top: 38px;
  }
}

@media (min-width: 1250px) {
  .catalog {
    width: 1050px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 125px;
    box-sizing: border-box;
  }

  .catalog__item {
    flex-direction: column;
    width: 315px;
    min-height: 660px;
    margin-top: 0;
  }

  .catalog-wrapper {
    width: 260px;
    padding: 0;
    margin: 0 auto;
  }

  .catalog__image {
    width: 315px;
  }

  .catalog__description {
    padding-left: 0;
  }

  .catalog__films {
    width: 1050px;
    height: 455px;
    //min-height: 455px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    padding-bottom: 0;
    margin-top: 55px;
  }

  .catalog__film-picture {
    order: 0;
  }

  .catalog__film-image {
    width: 100%;
    height: auto;
  }

  .catalog__price-wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .catalog__price {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .catalog__to-order {
    margin: 0 auto;
    margin-top: 46px;
    margin-left: 26px;
    width: 226px;
    order: 3;
  }

  .catalog__film-svg-title {
    width: 260px;
    padding: 0;
    margin: 0 auto;
    margin-top: 40px;
    order: 1;
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__title--film {
    width: 170px;
    padding-top: 20px;
    padding-left: 0;
  }

  .catalog__text--film {
    width: 260px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 30px;
    order: 2;
  }

  .catalog__movie-play {
    top: 41%;
    left: 43%;
  }
}
