.catalog {
  width: 260px;
  margin: 0 auto;
  padding-top: 31px;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  border: 1px solid #ececec;
  padding-bottom: 4px;
  min-height: 374px;
  box-sizing: border-box;
}

.catalog__item--mobile {
  margin-top: 30px;
}

.catalog__image {
  margin: 0 auto;
  width: 260px;
  height: 195px;
  background-color: #ecebe9;
}

.catalog-wrapper {
  width: 260px;
  min-height: 179px;
  margin: 0 auto;
  padding: 0 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.catalog__hare {
  background-image: url("../../img/photo-hare-mobile@1x.jpg");
}

.catalog__basket {
  background-image: url("../../img/photo-bowl-mobile@1x.jpg");
}

.catalog__big-basket {
  background-image: url("../../img/photo-toys-mobile@1x.jpg");
}

.catalog__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.4px;
  box-sizing: border-box;
}

.catalog__description {
  margin: 0;
  padding-top: 5px;
  width: 100%;
  font-size: 13px;
  line-height: 30px;
  color: #828282;
  border-bottom: 1px solid #ececec;
}

.catalog__price-wrapper {
  //padding-top: 40px;
  //padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.catalog__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__films {
  min-height: 503px;
  margin-top: 36px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 14px;
}

.catalog__movies {
  //padding-top: 20px;
  position: relative;
  width: 260px;
  height: 150px;
  background-image: url("../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.catalog__movies,
.catalog__description {
  border: none;
}

.catalog__movie-play {
  position: absolute;
  top: 19%;
  left: 30%;
  width: 100px;
  height: 76px;
  background-image: url("../../img/icon-play.svg");
}

.catalog__text {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.catalog__to-order {
  margin: 0 auto;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  width: 190px;
  text-align: center;
  padding: 14px 0;
}

.catalog__film-svg-title {
  display: flex;
  flex-direction: row;
  //justify-content: space-around;
  width: 260px;
  align-items: center;
  //margin-left: 33px;

  &--order {
    order: -1;
  }
}

.catalog__film-svg-icon {
  padding-left: 34px;
}

.catalog__title--film {
  width: 170px;
  padding-top: 9px;
  padding-left: 23px;
}

@media (min-width: 768px) {
  .catalog {
    width: 670px;
    margin: 0 auto;
    margin-top: 35px;
    padding-bottom: 95px;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
  }

  .catalog__description {
    padding-left: 3px;
    letter-spacing: 0.8px;
  }

  .catalog__films {
    flex-direction: column;
    align-items: center;
    margin-top: 47px;
    //display: block;
  }

  .catalog__price {
    font-size: 17px;
    line-height: 24px;
    position: bottom;
  }

  .catalog__price-wrapper {
    //padding-top: 197px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cfcfcf;
    //width: 280px;
  }

  .catalog__item {
    //width: 670px;
    min-height: 335px;
    display: flex;
    margin-top: 52px;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .catalog-wrapper {
    margin: 0;
    width: 315px;
    justify-content: space-between;
  }

  .catalog__title--film {
    width: 669px;
    padding: 0;
    padding-left: 35px;
    letter-spacing: 0.2px;
  }

  .catalog__item--hare {
    margin-top: 19px;
  }

  .catalog__image {
    width: 334px;
    height: 335px;
    margin: 0;
  }

  .catalog__film-svg-title {
    width: 584px;
    order: 0;
    padding-top: 34px;
    /*.catalog__title--width {
      width: 270px;
    }*/
  }

  .catalog__text {
    font-size: 15px;
    line-height: 27px;
    padding-top: 30px;
  }

  .catalog__text--film {
    width: 584px;
    padding: 0;
    padding-top: 31px;
    letter-spacing: 0;
  }

  .catalog__film-svg-icon {
    padding-left: 3px;
  }

  .catalog__films-description {
    flex-direction: row;
  }

  .catalog__hare {
    background-image: url("../../img/photo-1-tablet.jpg");
  }

  .catalog__basket {
    background-image: url("../../img/photo-2-tablet.jpg");
  }

  .catalog__big-basket {
    background-image: url("../../img/photo-3-tablet.jpg");
  }

  .catalog__movies {
    width: 668px;
    min-height: 455px;
    background-image: url("../../img/video-tablet.jpg");
  }

  .catalog__movie-play {
    top: 41%;
    left: 42%;
  }

  .catalog__to-order {
    width: 582px;
    margin: 0 auto;
    margin-top: 38px;
  }
}

@media (min-width: 1250px) {
  .catalog {
    width: 1050px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 125px;
    //padding: 0 50px;
    box-sizing: border-box;
  }

  .catalog__item {
    flex-direction: column;
    width: 315px;
    min-height: 660px;
    //margin-left: 15px;
    margin-top: 0;
  }

  .catalog-wrapper {
    width: 260px;
    padding: 0;
    margin: 0 auto;
  }

  .catalog__image {
    width: 315px;
    min-height: 462px;
    background-repeat: no-repeat;
    background-position: 0 35px;
    background-size: 315px 380px;
  }

  .catalog__description {
    padding-left: 0;
  }

  .catalog__hare {
    background-position: -41px 30px;
    background-size: 385px 390px;
  }

  .catalog__basket {
    background-position: -20px 10px;
    background-size: 450px 450px;
  }

  .catalog__big-basket {
    background-position: -13px 0;
    background-size: 435px 430px;
  }

  .catalog__films-wrapper {
    padding-top: 54px;
  }

  .catalog__films {
    min-height: 457px;
    //margin-top: 55px;
    width: 1050px;
    display: block;
    margin-top: 0;
    //padding-top: 50px;
  }

  .catalog__price-wrapper {
    //margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  /*.catalog__price-wrapper--margin {
    margin-top: 35px;
  }*/

  .catalog__price {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .catalog__to-order {
    margin-left: 83px;
    margin-top: 46px;
    width: 225px;
  }

  .catalog__film-svg-title {
    width: 200px;
    padding: 0;
    position: relative;
    padding-left: 80px;
    margin-top: 95px;

    .catalog__title {
      font-size: 20px;
      line-height: 24px;
      padding: 0;
    }
  }

  .catalog__film-svg-icon {
    position: absolute;
    top: -55px;
  }

  .catalog__text--film {
    width: 255px;
    float: left;
    padding-top: 33px;
    padding-left: 80px;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__films-description {
    width: 365px;
  }

  .catalog__movies {
    width: 680px;
    min-height: 455px;
    background-image: url("../../img/video-desktop.jpg");
    background-position: -50px -20px;
    background-size: 740px 480px;
    //margin-left: 50px;
    float: left;
    margin: 0;
  }

  .catalog__movie-play {
    top: 41%;
    left: 43%;
  }
}
