.contacts {
  padding: 0 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: 55px;
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
}

/*.contacts__flag--display {
  display: none;
}

.contacts__table {
  width: 100%;
  margin-top: 25px;
}

.contacts__col {
  //vertical-align: top;
}

.contacts__email {
  width: 80px;
}

.contacts__email,
.contacts__address,
.contacts__email-wrapper {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: 500;
  letter-spacing: -1px;
}

.contacts__address-wrapper {
  margin: 0;
  padding-top: 30px;

  .contacts__span {
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
  }
}

.contacts__address {
  padding-bottom: 60px;
}

.contacts__email-link {
  color: inherit;
  font-size: 15px;
}*/

.write-us {
  margin-top: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  width: 100%;
  text-align: center;
  padding: 14px 0;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 77px;
    box-sizing: border-box;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-left: -3px;
    letter-spacing: -0.3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__flag {
    width: 45px;
    height: 80px;
    padding-right: 5px;
  }

  .contacts__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }

  .contacts__item {
    padding-top: 35px;
  }

  .contacts__item--email {
    display: flex;
    flex-direction: row;
    //padding-bottom: 22px;
    //padding-right: 20px;
  }

  .contacts__item--address {
    display: flex;
    flex-direction: row;
    //padding-bottom: 22px;
    padding-right: 34px;
  }

  .contacts__address {
    margin: 0;
    width: 220px;
  }

  .contacts__text {
    margin: 0;
    width: 80px;
  }

  .contacts__email {
    text-decoration: none;
    color: #444444;
    letter-spacing: -0.2px;
    margin-left: -2px;
  }

  /*.contacts__flag--display {
    display: block;
  }*/


 /* .contacts__table--mt {
    margin-top: 33px;
  }

  .contacts__tbody {
    display: flex;
  }*/

  /*.contacts__address {
    width: 100px;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: 0;
  }*/

  /*.contacts__address-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .contacts__email-wrapper {
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: 0;
    width: 230px;
  }*/

  .write-us--size {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: 1250px) {
  .contacts {
    //padding: 0 100px;
    width: 450px;
    display: inline-block;
    margin-top: 95px;
    padding-left: 125px;
    padding-right: 0;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  /*.contacts__tbody {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin-left: 150px;
  }

  .contacts__email-link {
    font-size: 17px;
    line-height: 30px;
  }*/

/*  .contacts__email,
  .contacts__address {
    width: 70px;
  }*/

  /*.contacts__email {
    font-size: 17px;
    font-weight: normal;
  }*/

  .contacts__span {
    line-height: 40px;
  }
}
