.contacts {
  padding: 0 30px;
  .contacts__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    margin-top: 30px;
  }
  .contacts__table {
    width: 100%;
  }
  .contacts__col {
    vertical-align: top;
  }
  .contacts__col:nth-child(1) {
    width: 50px;
  }
  .contacts__col:nth-child(2) {
   padding-left: 25px;
  }
  .contacts__email,
  .contacts__address,
  .contacts__col-p
   {
    margin: 0;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-weight: 500;
    letter-spacing: -1px;
  }
  .contacts__email-link {
    color: inherit;
    font-size: 15px;
  }
}
.map {
    margin-top: 40px;
    text-align: center;
}
.write-us__wrapper {
padding: 0 30px;
  .write-us {
    margin: 30px 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #444444;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #444444;
    width: 100%;
    text-align: center;
    padding: 14px 0;
  }
}
.main-footer {
  padding: 0 30px;
  background-color: #f1f1f1;
  .main-footer__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #f1f1f1;
  }
  /*.main-footer__item {
    //display: inline-block;
    box-sizing: border-box;
    padding: 1px;
  }*/
  .main-footer__item-link {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
  }
  .main-footer__copyright {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 28px;
    font-size: 19px;
    line-height: 38px;
    font-weight: bold;
  }
  .main-footer__link {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
  }
  .main-footer__img {
    vertical-align: middle;
  }
}
