.featured {
  margin-top: 25px;
  padding: 0 30px;
  padding-bottom: 40px;
  border-bottom: 2px solid #f1f1f1;
}

.featured__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -1.5px;
}

.featured__span {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.featured__text {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  font-weight: 400;
  letter-spacing: -0.7px;
  margin: 25px 0;
  padding-right: 30px;
}

.featured__table {
  width: 100%;
}

.featured__col {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  letter-spacing: -1px;
}

.featured__col:nth-child(2n) {
  padding-left: 20px;
}

.featured__basket-image {
  margin-top: 28px;
}

.featured__price {
  margin: 25px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  text-align: center;
}

.featured__to-order {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  width: 100%;
  text-align: center;
  padding: 14px 0;
}

@media (min-width: 768px) {
  .featured--top {
    margin-top: 35px;
    padding: 0 50px;
    padding-bottom: 40px;
    border-bottom: 2px solid #f1f1f1;
    position: relative;
  }

  .featured__title--size {
    margin: 0;
    padding-right: 50px;
    font-size: 43px;
    line-height: 50px;
    letter-spacing: -1.5px;
    box-sizing: border-box;

  }

  .featured__span--right {
    display: inline-block;
    width: 70px;
    margin-left: 105px;
    text-align: center;
    vertical-align: middle;
  }

  .featured__text--size {
    width: 230px;
  }

  .featured__table--size {
    width: 300px;
    //float: left;
  }

  .featured__basket-image {
    position: absolute;
    width: 333px;
    height: 404px;
    margin: 0;
    top: 80px;
    right: 50px;
  }

  .featured__price--size {
    width: 300px;
    font-size: 20px;
    margin: 40px 0;
  }

  .featured__to-order--size {
    width: 300px;
    margin-top: 20px;
  }
}
