.form {
  padding: 0 30px;
}

.form__text {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.5px;
  margin: 0;
  margin-top: 70px;
  color: #444444;
}

/*.form__type {
  box-sizing: border-box;
}*/

.form__type-item {
  position: relative;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0;

  &::after {
    content: "";
    width: 75%;
    height: 1px;
    background-color: #63d1bb;
    position: absolute;
    top: 8px;
    right: 0;
  }
}

.form__color,
.form__personal,
.form__textarea {
  margin-top: 30px;
}

.form__label {
  padding-left: 60px;
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #000000;
  margin-top: 25px;
  position: relative;
  cursor: pointer;
}

.form__label input[type="checkbox"],
.form__label input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.form__label input[type="checkbox"] + .indicator,
.form__label input[type="radio"] + .indicator {
  position: absolute;
  top: -5px;
  left: 0;
  border: 2px solid #444444;
  border-radius: 2px;
}

.form__label input[type="radio"] + .indicator {
  border-radius: 50%;
  border: 2px solid #444444;
  width: 30px;
  height: 30px;
}

.form__label input[type="checkbox"] + .indicator {
  width: 30px;
  height: 30px;
}

.form__label input[type="checkbox"]:active + .indicator,
.form__label input[type="radio"]:active + .indicator {
  border-color: #444444;
}

/*The checked checkbox icon*/
input[type="checkbox"]:checked + .indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 6px;
  height: 18px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(45deg);
}

/*The checked radio icon*/
.form__label input[type="radio"]:checked + .indicator::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 7px solid #62d1ba;
  background-color: #62d1ba;
}

input[type="checkbox"]:checked + .indicator {
  border-color: #000000;
}

input[type="radio"]:checked + .indicator {
  border-color: #000000;
}

.form__input {
  height: 38px;
  box-sizing: border-box;
  color: #d6d6d6;
  border: none;
  border-bottom: 2px solid #000000;
  vertical-align: middle;
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 18;
  font-weight: 400;
  display: block;
  width: 100%;
  outline: none;
}

.form__textarea {
  font-weight: 400;
  color: #d6d6d6;
  resize: none;
  height: 140px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #000000;
  width: 100%;
}

.form__personal .form__label {
  padding-left: 0;
}

.additionally {
  display: block;
  margin-top: 25px;
}

.form__description {
  font-size: 14px;
  line-height: 16px;
  color: #a8a8a8;
  margin: 0;
  margin-top: 20px;
}

.form__button {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  width: 100%;
  text-align: center;
  padding: 14px 0;
  background-color: #ffffff;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .form {
    padding: 0;
  }

  .form__text {
    font-size: 17px;
    letter-spacing: 0;
    padding: 0 50px;
  }

  .page__form {
    margin-top: 50px;
  }

  .form__type-item {
    margin-top: 70px;

    &::after {
      display: none;
    }
  }

  .form__type {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
  }

  .form__label-wrapper,
  .form__label-color-wrapper,
  .form__label-personal-wrapper {
    margin-left: 130px;
  }

  .form__label-color-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .form__label {
      width: 150px;

    }
  }

  .form__color {
    padding: 0 50px;
    margin-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
    background-color: #f1f1f1;
  }

  .form__label input[type="radio"] + .indicator {
    border-radius: 50%;
    border: 2px solid #444444;
    width: 50px;
    height: 50px;
  }

  .form__label input[type="checkbox"] + .indicator {
    width: 50px;
    height: 50px;
  }

  .form__label {
    margin-top: 40px;
    padding-left: 80px;
    padding-top: 10px;
    font-size: 19px;
    line-height: 19px;
  }

  /*The checked checkbox icon*/
  input[type="checkbox"]:checked + .indicator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 12px;
    height: 30px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    transform: rotate(45deg);
  }

  /*The checked radio icon*/
  .form__label input[type="radio"]:checked + .indicator::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 9px solid #62d1ba;
    background-color: #62d1ba;
  }

  .form__personal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form__full-name {
    display: flex;
    padding: 0 50px;

    .form__input {
      margin-top: 0;
      padding-bottom: 0;
      margin-left: 20px;
    }

    .form__label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .form__label-personal-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 120px;

  }

  .form__label-contact-wrapper {
    padding: 0 50px;
    background-color: #f1f1f1;
    margin-top: 30px;
    padding-bottom: 40px;

    .form__label {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .form__type-item {
      margin-top: 0;
      width: 150px;
    }

    .form__input {
      margin-top: 0;
      padding-bottom: 0;
      background-color: inherit;
      margin-left: 50px;
    }
  }

  .form__area {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    align-items: baseline;

    .form__type-item {
      margin: 0;
    }
  }
  .form__textarea {
    width: 500px;
    margin: 0;
    margin-left: auto;
  }

  .form__send {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .form__button {
      margin: 0;
      width: 250px;
    }
  }

}
