.form-header {
  .form-header__title {
    background-color: #f1f1f1;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -0.5px;
    text-align: center;
    padding: 73px 25px;
  }
}
