.main-footer {
  padding: 0 30px;
  background-color: #f1f1f1;
  margin-top: 60px;
}

.main-footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #f1f1f1;
}

.main-footer__item:nth-child(1) {
  border-bottom: 1px solid #e5e5e5;
}

.main-footer__link {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
  color: #000000;
}

.main-footer__copyright {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 28px;
  font-size: 19px;
  line-height: 38px;
  font-weight: bold;
}


.main-footer__img {
  vertical-align: middle;
}

.main-footer__logo--display {
  display: none;
}

@media (min-width: 768px) {
  .main-footer {
    padding: 0 50px;
  }

  .main-footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__logo--display {
    display: block;
  }
}
