.site-wrapper {
  background-color: $main-color;
  //width: $main-width;
  //margin: 0 auto;
  box-sizing: border-box;
}

.site__write--wrapper {
  padding: 0 30px;
}

@media (min-width: 768px) {
  .site-wrapper {
    width: 100%;
  }

  .site__write--wrapper {
    //margin-top: 46px;
    position: absolute;
    bottom: -2579px;
    //left: 386px;
    width: 224px;
    margin: 0 auto;
  }
}

@media (min-width: 1250px) {
  .site-wrapper {
    width: 100%;
  }

  .site__write--wrapper {
    margin-top: 80px;
    margin-left: 145px;
    width: 226px;
  }
}
