/*.site-choice {
  list-style-type: none;
  padding: 0;
  margin: 0;
  //margin-top: -5px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.site-choice__item {
  min-height: 105px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  transition: 0.4s;

  &:hover {
    transform: translateY(-5px) scaleY(1.1);

    .site-choice__link {
      //transform: translateY(-5px)
    }
  }
}

.site-choice__text {
  display: inline-block;
  width: 120px;
}

.site-choice__interior {
  background-color: #63d1bb;
  //background-image: url("../img/icon-interior.svg");
  //background-repeat: no-repeat;
  //background-position: 257px 29px;
}

.site-choice__toys {
  background-color: #56c3b2;
  //background-image: url("../img/icon-toy.svg");
  //background-repeat: no-repeat;
  //background-position: 240px 29px;
}

.site-choice__link {
  //position: absolute;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  //display: inline-block;
  //width: 100%;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 30px;
  padding-right: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &:hover {
    padding-top: 33px;
    transform: translateY(-10px);
  }
}
*/
.site-choice__wrapper {
  //background-color: #63d1bb;
}
.site-choice {
  //width: 320px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  //margin-top: -5px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.site-choice__item {
  //min-height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  //position: relative;
  transition: 0.4s;
  align-items: center;
  background-color: hsla(168, 54%, 60%, 1);

  &:hover {
    transform: translateY(-5px) scaleY(1.1);

    .site-choice__link {
      //transform: translateY(-5px)
    }
  }
}

.site-choice__toys {
  background-color: hsla(171, 48%, 55%, 1);
}

.site-choice__text {
  display: inline-block;
  width: 120px;
}

.site-choice__link {
  margin: 0 auto;
  //position: absolute;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  //display: inline-block;
  width: 320px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 29px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //background-color: hsla(168, 54%, 60%, 1);

  &:hover {
    padding-top: 33px;
    transform: translateY(-10px);
  }
}

@media (min-width: 768px) {
  .site-choice__wrapper {
    //margin-top: 10px;
    //padding: 0 50px;
    background-color: #fafafa;
    //box-sizing: border-box;
  }

  .site-choice {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .site-choice__item {
    width: 334px;
  }

  .site-choise__container {
    padding-right: 34px;
    padding-top: 20px;
  }

  .site-choice__interior {
    //width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-choice__toys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-choice__link {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-grow: 1;
  }
}

@media (min-width: 1250px) {
  .site-choice {
    width: 1250px;
    margin: 0 auto;
    margin-top: -5px;
    background-image: url(../../img/zigzag-fill-desktop.png);
    display: flex;
    justify-content: center;
  }

  .site-choice__item {
    width: 525px;
    flex-grow: 1px;
  }

  .site-choice__interior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }

  .site-choise__container {
    padding-right: 35px;
    padding-top: 21px;
  }

  .site-choice__toys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }

  .site-choice__link {
    padding-right: 380px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
  }

  .site-choice__link--interior {
    padding-right: 36px;
    padding-left: 37px;
    padding-top: 8px;
    padding-bottom: 25px;
    width: 250px;
    padding-top: 23px;
  }
  .site-choice__link--toys {
    padding-right: 36px;
    padding-left: 37px;
    padding-top: 23px;
    padding-bottom: 25px;
    width: 220px;
  }

  .site-choice__svg {
    padding-top: 5px;
  }
}
