.site-title {
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  padding-top: 69px;
  padding-bottom: 125px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  width: 100%;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: -130px -20px;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .site-title {
    background-image: url("../img/hero-desktop.jpg");
    background-position: center -61px;
    font-size: 43px;
    line-height: 51px;
    padding-bottom: 365px;
    padding-top: 90px;
  }

  .site-title__text {
    display: inline-block;
    width: 500px;
  }
}

@media (min-width: 1250px) {
  .site-title {
    background-position: center -64px;
    font-size: 53px;
    line-height: 57px;
    padding-top: 90px;
    letter-spacing: 0;

    .site-title__text {
      width: 700px;
    }
  }
}
