.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.menu__link {
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  line-height: 24px;
  color: hsla(0, 0, 0, 1);
  font-weight: bold;
  padding: 28px 20px;
  padding-left: 75px;
  vertical-align: baseline;
  //box-sizing: border-box;
  //width: 100%;
  position: relative;

  &:hover {
    color: hsla(0, 0, 45%, 1);
  }

  &:active {
    color: hsla(0, 0, 75%, 1);
  }
}

.menu__link-svg {
  padding-left: 0;
}

.menu__svg {
  padding: 30px;
}

.menu__link--padding {
  padding: 20px;
  padding-left: 115px;
}

.menu__item--sale,
.menu__item--news,
.menu__item--delivery {
  display: none;
}

.menu--closed .menu__item {
  display: none;

  &--active {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu__list {
    //padding: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f9f9f9;
  }

  .menu__item--logo {
    width: 370px;
    border-right: 1px solid #ececec;
    background-color: #ffffff;
    order: -3;

    .menu__link {
      padding: 23px 0;
      padding-left: 50px;
    }
  }

  .menu__item--find {
    width: 81px;
    text-align: center;
    background-color: #ffffff;
    order: -2;

    .menu__link-svg {
      padding: 0;
      line-height: 81px;
    }

    .menu__svg {
      padding: 0;
    }
  }

  .menu__item--basket {
    width: 315px;
    border-left: 1px solid #ececec;
    background-color: #ffffff;
    order: -1;

    .menu__svg {
      padding: 0;
      padding-left: 30px;
    }

    .menu__text-basket {
      margin-left: 30px;
    }

    .menu__link-svg {
      padding: 0;
      line-height: 81px;
    }
  }

  .menu__item--catalog,
  .menu__item--knitting,
  .menu__item--delivery {
    border-bottom: none;
    margin-left: 50px;
    display: block;

    .menu__link {
      padding: 20px 5px;
      //margin-left: 50px;
    }
  }

  .menu__item--catalog {
    width: 150px;

    .menu__link {
      //padding-left: 50px;
      //margin-left: 50px;
    }
  }

  .menu__item--knitting {
    width: 190px;
    margin: 0;
  }

  .menu__item--delivery {
    width: 290px;
  }

  .menu--closed .menu__item,
  .menu--closed .menu__item {
    display: block;
  }

  .menu--closed .menu__item--news,
  .menu--closed .menu__item--sale {
    display: none;
  }

  .font--view {
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
  }

  .menu--display-none {
    display: none;
  }

  .menu__link {
    padding: 23px 20px;

    &--font {
      font-size: 15px;
    }
  }

  /*.menu__item--logo {
    order: -3;
  }*/

  /*.menu__find--order {
    order: -2;
  }*/

  /*.menu__basket--order {
    order: -1;
  }*/

  /*.menu__delivery--display {
    display: block;
  }*/

  /*.menu--closed .menu__item--news,
  .menu--closed .menu__item--sale {
    display: none;
  }*/
}

@media (min-width: 1250px) {

  .menu__list {
    padding: 0 50px;
    //background-color: #ffffff;
  }

  /*.menu__item--logo {
    order: 2;
  }*/

  /*.menu__catalog--order {
    order: 0;
  }
*/
  /*.menu__knitting--order {
    order: 1;
  }
*/
  /*.menu__find--order {
    order: 3;
  }*/

  /*.menu__basket--order {
    order: 4;
  }*/

  /*.menu__news--order {
    order: 5;
  }*/

  /*.menu__sale--order {
    order: 6;
  }*/

  /*.menu__delivery--order {
    order: 7;
  }*/

  /*.menu--closed .menu__sale--display {
    display: block;
  }*/

  .menu__item--catalog {
    width: 235px;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-color: #ffffff;
    order: 0;

    .menu__link {
      padding-top: 30px;
      padding-bottom: 15px;
      padding-left: 50px;
    }
  }

  .menu__item--knitting {
    width: 220px;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
    order: 1;

    .menu__link {
      padding-top: 30px;
      padding-bottom: 15px;
      padding-left: 35px;
    }
  }

  .menu__item--logo {
    width: 300px;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    order: 2;

    .menu__link {
      padding-top: 30px;
      padding-bottom: 15px;
      padding-left: 85px;
    }
  }

  .menu__item--find {
    width: 80px;
    border-bottom: 1px solid #ececec;
    order: 3;
  }

  .menu__item--basket {
    width: 315px;
    border-bottom: 1px solid #ececec;
    order: 4;

    .menu__text-basket {
      letter-spacing: -1px;
    }
  }

  .menu__item--delivery {
    width: 290px;
    order: 7;

    .menu__link {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .menu--opened .menu__item--news {
    border: none;
    width: 215px;
    display: block;
    order: 5;

    .menu__link {
      font-size: 15px;
      padding-top: 19px;
      padding-bottom: 15px;
      padding-left: 35px;
    }
  }

  .menu--opened .menu__item--sale {
    display: block;
    width: 570px;
    border: none;
    display: block;
    order: 6;

    .menu__link {
      font-size: 15px;
      padding-top: 19px;
      padding-bottom: 15px;
    }
  }


  .menu--closed .menu__item--news {
    border: none;
    width: 230px;
    display: block;
    order: 5;

    .menu__link {
      font-size: 15px;
      padding-top: 19px;
      padding-bottom: 15px;
      padding-left: 50px;
    }
  }

  .menu--closed .menu__item--sale {
    width: 584px;
    border: none;
    display: block;
    order: 6;

    .menu__link {
      font-size: 15px;
      padding-top: 19px;
      padding-bottom: 15px;
      //padding-left: 50px;
    }
  }

  .menu__item--catalog,
  .menu__item--knitting,
  .menu__item--delivery {
    margin-left: 0;
    display: block;
  }

  .menu__link {
    padding: 23px 20px;

    &--font {
      font-size: 17px;
    }
  }
}
