body {
  background-color: $main-color;
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
