body {
  background-color: $main-color;
  font-family: 'Open Sans', sans-serif;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.form__input {
    height: 38px;
    box-sizing: border-box;
    color: #d6d6d6;
    border: none;
    border-bottom: 2px solid #000000;
    vertical-align: middle;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 18;
    font-weight: 400;
    display: block;
    width: 100%;
    outline: none;
}
.form__textare {
  font-weight: 400;
  color: #d6d6d6;
  resize: none;
  height: 140px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #000000;
  width: 100%;
}
